<!DOCTYPE html>
<html>
  <head>
    <title>TechpitMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  
<body>
  <% if flash[:notice] %>
    <!-- ここにclassを追加する -->
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <!-- ここにclassを追加する -->
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  
  <%= yield %>
</body>
</html>


